.zoom {
  display: inline-block;
  padding: auto;
  background-color: white;
  transition: transform .3s;
  width: 200px;
  height: 200px;
  margin: 2em 2em;
}

.zoom:hover {
  background-color: var(--color3);
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(2);
}

.codebase {
  background-image: url('../img/codebase.png')
}
