.banner1 {
  min-height: 40%;
  background-color: var(--color2);
  font-size: 2em;
  padding: 4em 3em 4em 3em;
  text-align: center;
}
.banner1:hover {
  background-color: var(--color3);
}

.banner2 {
  min-height: 50%;
  background-color: var(--color2)
  font-size: 2em;
  text-align: center;
}

.btn-connect {
  background-color: var(--color5);
  border: var(--color5);
}
.btn-connect:hover {
  background-color: var(--color4);
  border: var(--color4);
}
