body, html {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

p {
  font-size: 20px;
}

img {
  object-fit: cover;
}

:root {
  --color1: #4a4e4d; /* blackish */
  --color2: #0e9aa7; /* darker turquoise */
  --color3: #3da4ab; /* lighter turquoise */
  --color4: #f6cd61; /* yellow */
  --color5: #fe8a71; /* peachy orange */
}

.emphasized-text {
  /* color: var(--color4); */
  color: var(--color2);
}
/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.horizontal-center {
  margin-left: 40%;
  margin-right: 50%;
}

.name-intro {
  font-size: 8em;
  color: white;
}

.section-header {
  padding-top: 2em;
  font-size: 4em;
  color: white;
  text-align: center;
}

.intro-text {
  width: 70%;
}
