img.profile {
  display: block;
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  margin: auto;
}

img.secondary {
  display: inline-block;
  height: 100%;
  width: 100%;
  opacity: 0.5;
}

img.logo {
  display: inline-block;
  max-height: 100px;
  max-width: 100px;
}
